{% load static %}

<head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
  $(document).ready( function() {
    $( "#new_charity" ).autocomplete({
        source: function(request, response) {
            $.ajax( {
                url: 'ajax/get_charities',
                dataType: 'json',
                data: { term: request.term },
                success: function(data) {
                    response(data.charities);
                    }
                } );
            },
        messages: {
            noResults: '',
            results: function() {}
        },
        minLength: 2
        } );
    
        $('body').on('click', '.delete_button', function() {
            console.log("clicked!");
            var donation_id = str($(this).attr('id'))
            $.ajax( {
                url: 'delete/' + donation_id,
                success: function() {
                    $(".card#" + donation_id).delete();
            }
        });
    });
 });
  </script>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'donations/style.css' %}" />
<a href="/donations">
<img src="{% static 'donations/images/logo.jpg' %}" style="position:absolute; top:1.5%; left:26%" width="127" height="29"/>
</a>



<div class="header"></div>
    <div class="header_contents">
        <a href="/donations/settings/">Your Profile</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/donations/logout">Logout</a>
        </div>

   <div class="form">
    <form action="" method="post">
        {% csrf_token %}
        <label for="new_charity">Charity Name: </label>
        <input id="new_charity" type="text" name="new_charity" value="{{ new_charity }}">
        <br>
        <label for="new_amount">Donation Amount: </label>
        <input id="new_amount" type="text" name="new_amount" value="{{ new_amount }}">
        <br>
        <label for="new_date">Date Donated: </label>
        <input id="new_date" type="date" name="new_date" value="{{ new_date }}">    
        <input type="submit" value="OK">
    </form>
    </div>
    
<div class="column">
    <h1>Donation History</h1>
 
    <div class="cards">
    {% if card_list %}
    {% for card in card_list %}
       
            <div class="card" id={{card.card_donation.id}}>
                <div class="card_left_box">
                    <div class="card_large">
                        {{card.card_charity.charity_name}} <br>
                    </div>
                    <div class="card_small">
                        "{{card.card_charity.charity_tagline}}"
                        <br>
                        Cause: {{card.card_charity.charity_cause}}
                        <br>
                        Impact: Coming Soon
                    </div>
                </div>
                <div class="card_right_box">
                    <div class="card_large">
                        ${{card.card_donation.donation_amount}}
                        <br>
                    </div>
                    <div class="card_small">
                        {{card.card_donation.donation_date}}
                        Rating: {{card.card_charity.charity_rating}}                       
                    </div>
                </div>
                <div class="delete_button" id={{card.card_donation.id}}>X</div>
            </div>

   
    {% endfor %}
    {% endif %}
    </div>
</div>

<div class="footer">
    <div class="footer_contents">
        Total Donations: ${{total_donations}}
    </div>
</div>


<!--
{% if latest_donation_list %}
    
    {% for donation in latest_donation_list %}
        <li><a href="/donations/{{ donation.id }}/">{{ donation.donation_charity }}</a></li>
    {% endfor %}
    
{% else %}
    <p>No donations are available.</p>
{% endif %}
-->

<!--
<div class="card"></div>
<br>
<body>
    Add New
</body>
<br><br><br><br>
-->

<!--
<br>
<body>Charity Name: {{new_charity}} </body>
<br>
<body>Donation Amount: {{new_amount}} </body>
<br>
-->
