{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'donations/style.css' %}" />
<a href="/donations">
<img src="{% static 'donations/images/logo.jpg' %}" style="position:absolute; top:1.5%; left:26%" width="127" height="29"/>
</a>

<div class="header"></div>
    <div class="header_contents">
        <a href="/donations/settings/">Your Profile</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/donations/logout">Logout</a>
        </div>

   <div class="form">
    <form action="" method="post">
        {% csrf_token %}
        <label for="new_charity">Charity Name: </label>
        <input id="new_charity" type="text" name="new_charity" value="{{ new_charity }}">
        <br>
        <label for="new_amount">Donation Amount: </label>
        <input id="new_amount" type="text" name="new_amount" value="{{ new_amount }}">
        <br>
        <label for="new_date">Date Donated: </label>
        <input id="new_date" type="date" name="new_date" value="{{ new_date }}">    
        <input type="submit" value="OK">
    </form>
    </div>
    
<div class="column">
    <h1>Donation History</h1>
 
    <div class="cards">
    {% if card_list %}
    {% for card in card_list %}
        <li>
            <div class="card">
                <div class="card_contents">
                    <br>
                    {{card.card_charity.charity_name}} ${{card.card_donation.donation_amount}}
                    <br>
                    {{card.card_donation.donation_date}}
                </div>
            </div>
        </li>
    {% endfor %}
    {% endif %}
    </div>
</div>

<div class="footer">
    <div class="footer_contents">
        Total Donations:
    </div>
</div>


<!--
{% if latest_donation_list %}
    
    {% for donation in latest_donation_list %}
        <li><a href="/donations/{{ donation.id }}/">{{ donation.donation_charity }}</a></li>
    {% endfor %}
    
{% else %}
    <p>No donations are available.</p>
{% endif %}
-->

<!--
<div class="card"></div>
<br>
<body>
    Add New
</body>
<br><br><br><br>
-->

<!--
<br>
<body>Charity Name: {{new_charity}} </body>
<br>
<body>Donation Amount: {{new_amount}} </body>
<br>
-->
