{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'donations/login_style.css' %}" />
<img src="{% static 'donations/images/logo.jpg' %}" style="position:absolute; top:19%; left:25%" width="710" height="163"/>

<div class="welcome">
Welcome to Impactful! Please log in with Facebook here:
</div>

<a href="{% url 'social:begin' 'facebook' %}">
    <img src="{% static 'donations/images/facebook.png' %}" style="position:absolute; top:47%; left:38%" width="290" height="50"/>
</a>

<!--
<a href="{% url 'social:begin' 'twitter' %}">
    <img src="{% static 'donations/images/twitter.png' %}" style="position:absolute; top:50%; left:38%" width="296" height="54"/>
</a>
 
<a href="{% url 'social:begin' 'google-oauth2' %}">
    <img src="{% static 'donations/images/google.png' %}" style="position:absolute; top:58%; left:38%" width="296" height="54"/>
</a>
 
-->
