html {
    background-color: #0b5394;
}

body {
    color: #0b5394;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.column {
    width: 50%;
    min-height: 100%;
    position: absolute;
    left: 25%;
    top: 9%;
    background: white;
    z-index: -2;
}


.header {
    width: 100%;
    height: 6%;
    position: absolute;
    left: 0%;
    top: 0%;
    background: white;
    z-index: -1;
}

.header_contents {
    color: #0b5394;
    text-align: right;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding-top: 5px;
    padding-right: 26%;
}

a:link {
   color: #0b5394;
   text-decoration: none;
}


a:visited {
   color: #0b5394;
   text-decoration: none;
}

a:hover {
   color: #0b5394;
   text-decoration: none;
}

a:active {
   color: #0b5394;
   text-decoration: none;
}



.footer {
    width: 50%;
    height: 7%;
    position: fixed;
    left: 25%;
    bottom: 0%;
    background: white;
    background-attachment: scroll;
    z-index: 1;
}

.footer_contents {
    color: #0b5394;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 28px;
    font-weight: 100;
    padding-top: 11px;
}

h1 {
    color: #0b5394;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 100;
}

h2 {
    color: #0b5394;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 100;
    padding-top: 30px;
}

.settingsbox {
    position: absolute;
    left: 40%;
    top: 4%;
    width: 55%;
    height: 30%;
}

.settingsname {
    color: #0b5394;
    font-family: proxima-nova, sans-serif;
    font-size: 36px;
    font-weight: 100;
    padding-bottom: 15px;
}

.settingsinfo {
    color: #0b5394;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.form {
    padding-top: 115px;
    text-align: center;
}

.cards {
    padding-top: 95px;
    list-style: none;
}

.card {
    width: 85%;
    height: 14%;
    position: absolute;
    left: 7.5%;
    background: lightgrey;
    border: solid;
    border-color: white;
    border-width: 4px;
    z-index: -1;
}

.card_contents {
    color: #0b5394;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-weight: 100;
}


li {
    list-style: none;
    padding-bottom: 125;
}


<!-- not used anymore -->

.background {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0%;
   top: 0%;
   background: #0b5394;
   z-index: -3;
}

.line {
    width: 1500px;
    height: 1px;
    border-top: 1px solid gray;
    position: absolute;
    left: 0%;
    top: 9%;
}

.line2 {
    width: 1px;
    height: 60px;
    border-left: 1px solid gray;
    position: absolute;
    left: 19%;
    top: 1.5%;
}

.line3 {
    width: 1px;
    height: 60px;
    border-left: 1px solid gray;
    position: absolute;
    left: 720px;
    top: 10px;
}

.line4 {
    width: 1px;
    height: 60px;
    border-left: 1px solid gray;
    position: absolute;
    left: 950px;
    top: 10px;
}
    
